
/* for test */
.wrapper
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    width: 996px;
    margin: auto;
}

@media(max-width:1000px)
{
    .wrapper
    {
        width: 95%;
    }
}

@media(max-width:776px)
{
    .wrapper
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:500px)
{
    .wrapper
    {
        grid-template-columns: 1fr;
    }
}

.wrapper img
{
    width: 100%;
    height: auto;
}
/* for test */


*,
::after,::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
}

#levus-lightbox
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -1;
    opacity: 0;
    transition: .5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

#levus-lightbox.active
{
    z-index: 1;
    opacity: 1;
}

#levus-lightbox picture
{
    position: relative;
    z-index: 3;
    transition: .5s;
    transform: scale(0,0);
}

#levus-lightbox.active picture
{
    transform: scale(1,1);
}

#levus-lightbox picture img
{
    max-width: 100%;
    height: auto;
}

#levus-lightbox-wrapper
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    transition: .5s;
    z-index: 2;
    opacity: 1;
}